<!doctype html>
<html lang="fr">
<head>
    {% include 'layouts/head.html.twig' %}
    <title>Skript Codespace - {% block title %}{% endblock %}</title>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
