{% extends 'layouts/base.html.twig' %}

{% block content %}
    <div class="min-h-screen flex flex-col">
        {% include 'components/navbar.html.twig' %}
        {% include 'components/editor.html.twig' %}
        {% include 'components/console.html.twig' %}
    </div>

{% endblock %}