<nav class="bg-gray-900 p-5">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
        <div class="relative flex items-center justify-between">
            <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
                <a class="flex-shrink-0 flex items-center" href="https://skript-mc.fr">
                    <i class="fa fa-arrow-left text-white mr-3"></i>
                    <img class="h-8 w-auto" src="https://skript-mc.fr/assets/images/logo-white.png" alt="Workflow">
                </a>
            </div>
            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                <div class="ml-3 relative">
                    <button class="bg-indigo-400 hover:bg-indigo-300 text-gray-900 p-1 rounded-full h-8 w-32 flex items-center justify-center" id="run">
                        <span class="text-sm mr-2">Exécuter</span>
                        <i class="fa fa-terminal"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</nav>
{{ encore_entry_script_tags('fontawesome') }}